* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./image/1325254.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: auto;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 224, 226);
    text-transform: uppercase;
    font-weight: bolder;
}

form {
    text-decoration: none;
}

input{
    width: 300px;
    height: auto;
    border-radius: 3px;
    padding: 5px;
    margin: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


button{
    padding: 0px 50px;
    margin: 10px 75px;
}
.container{
    display:flex;
    justify-content: center;
    margin: 30vh ;
}
